Makefile.in
Makefile
configure
aclocal.m4
config.h.in
*.cache
*.log
*.core
*.scan
*.o
deliver
*~
compile
conf/ices.conf.dist
config.guess
config.h
config.status
config.sub
depcomp
doc/ices.1
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps/
src/ices
src/playlist/.deps/
src/playlist/libplaylist.a
stamp-h1

